<div id="<%= dom_id stock_movement %>">
  <p>
    <strong>Product:</strong>
    <%= stock_movement.product_id %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= stock_movement.movement_type %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock_movement.quantity %>
  </p>

  <p>
    <strong>Cost per unit:</strong>
    <%= stock_movement.cost_per_unit %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= stock_movement.reference_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= stock_movement.notes %>
  </p>

  <p>
    <strong>Movement date:</strong>
    <%= stock_movement.movement_date %>
  </p>

</div>
