<div id="<%= dom_id vendor %>">
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Contact person:</strong>
    <%= vendor.contact_person %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vendor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= vendor.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= vendor.address %>
  </p>

</div>
